body{
    background-image: url('../image/background/IMG_4853.PNG');
    background-repeat: no-repeat;
    background-color: #f2ddc0;
    background-size: 100%;
    font-family: SofiaSans;
  }

@font-face {
    font-family: SofiaSans ;
    src: url(../fonts/SofiaSansExtraCondensed-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: Oblako ;
    src: url(../fonts/RubikPuddles-Regular.ttf);
}

@font-face {
    font-family: Pacifico ;
    src: url(../fonts/Pacifico-Regular.ttf);
}

h1{
    font-family: Oblako;
    font-size: 350%;
    color: rgb(172, 126, 62);
    -webkit-text-stroke: 3% ;
}

button{cursor: pointer;}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.price{
    font-size: 350%;
    color: #5c3826;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #5b3c2d;
}
button.basket, button.korzina, button.rem{
    color: #eabb94;
    background-color: #9c5912;
    border:2px solid;
    border-color: #cf8845;
    border-radius: 20px ;
    font-size: 250%;
    font-family: SofiaSans;
}


    /* GRID */
.grid{
    display: grid;
    justify-content: center;
    grid: repeat(2, 75px) / repeat(20, 75px);

    grid-template-areas:
        "menu header "

}

.header{
    grid-area: header;
    grid-area: 1 / 3/ 1 / 19;
}

.menu{
    grid-area: menu;
    grid-area: 2 / 1 / 1 / 10;
}
